WipeDisk/binary/
WipeDisk/binary*.iso
WipeDisk/binary*.img
WipeDisk/binary*.tar*
WipeDisk/binary*.contents
WipeDisk/binary*.packages
WipeDisk/binary*.zsync

WipeDisk/.build/
WipeDisk/build.log

WipeDisk/cache/

WipeDisk/chroot/
WipeDisk/chroot.packages.*

WipeDisk/config/binary
WipeDisk/config/bootloaders
WipeDisk/config/bootstrap
WipeDisk/config/chroot
WipeDisk/config/common
WipeDisk/config/hooks
WipeDisk/config/source

WipeDisk/config/control

WipeDisk/source/
WipeDisk/source*.iso
WipeDisk/source*.img
WipeDisk/source*.tar*
WipeDisk/source*.contents
WipeDisk/source*.packages
WipeDisk/source*.zsync
